HOBBIES = 'CODING'
LANGUAGE = 'ENGLISH'
OWNER_SKILLS = 'JAVASCRIPT'
OWNER_STATUS = 'DEVELOPER'
OWNER_NAME = 'Qasim Ali'
TIME_ZONE = 'Asia/Karachi'
MONGODB_URI ="mongodb+srv://new:fjVsXv2ZZiVNDF0s@atlascluster.ahk537j.mongodb.net/?retryWrites=true&w=majority&appName=AtlasCluster"
REMOVEBG_KEY = 
PREFIX = '.'
MODE ='private'
statusview = 'true'
BOTNAME ='MEGA-AI'
antidelete ='true'
BOT_NUMBER="923204566005"
OWNERS ='923444844060'
